#BtnAbout{
  cursor: pointer;
  border: 0.5px solid #00000026;
  /* box-shadow: 0 4px 10px 0 hsla(0,0%,0%,0.3); */
  background-color: #eceaea;
}

#about-h2{
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
  text-align: center;
}

.about-section{
  line-height: 22px;
  padding: 5px;
  color: rgb(49, 61, 59);
}

.about-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.about-modal-content {
  background-color: #f5cece;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 15px;
  border: 0.5px solid #888;
  border-radius: 5px;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.about-close {
  color: rgb(0, 0, 0);
  float:right;
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.about-close:hover,
.about-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}