#artist-info-container {
  display: flex;
  /* border: 1px solid black; */
  /* border-style: dashed; */
  box-shadow: 0 4px 6px 0 hsla(0,0%,0%,0.2);
  flex-direction: column;
  margin: 5px auto;
  width: 28%;
}


#artist-info-top{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.artist-pic {
  height: 140px;
  width: 140px;
  object-fit: contain;
  border-radius: 50%;
}

.artist-basics {
  margin: 10px;
  font-size: 22px;
  font-weight: 600;
}

.artist-basics a, .top-songs a, .common-artists a{
  color: black;
  text-decoration: none;
}

.artist-basics a:hover{
  color: white;
}


.artist-basic-followers{
  font-size: 16px;
  font-weight: 500;
  opacity: 0.90;
}

.artist-basic-followers > span{
  opacity: 0.80;
  font-size: 14px;
  color: #574949;

}

#artist-info-bottom{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#artist-info-bottom > div{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

#song-lyrics{
  text-align: center;
}

#song-lyrics  p:first-child{
  font-size: 26px;
  margin: 12px;
  font-weight: 600px;
}

#song-lyrics  p:nth-child(2){
  font-size: 14px;
  color: #574949;
  opacity: 0.75;
  margin: 20px;
  padding-top: 0px;
  margin-top: 10px;
  padding-bottom: 10px;
  height: 30%;
  width: 93%;
  overflow: scroll;
}

.top-songs{
  overflow: hidden;
  text-overflow: clip;
  padding-left: 22px;
}

.common-artists{
  overflow: hidden;
  text-overflow: clip;
  padding-left: 24px;
}

.top-songs > li, .common-artists > li{
  font-size: 12px;
  opacity: 0.75;
  margin: 5px 3px;
  text-align: left;
  color: #574949;
}

.top-songs li a:hover, .common-artists li a:hover{
  color: rgb(112, 112, 121);
}

.artist-h2{
  font-weight: 700;
}
