h2 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}

#name{
  font-size: 16px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2:hover{
  cursor: pointer;
  color: white;
}

#main-container{
  display: flex;
  border: 1px;
  border-style: dashed;
  background-color: lightgray;
  font-family: Helvetica;
  height: 100%;
}



footer{
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  /* color: black; */
  font-size: 20px;
}